In [1]:
import requests
from pprint import pprint
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics
import datetime
import geopy 

%matplotlib notebook

In [2]:
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race12_df = pd.read_csv('Race_12.csv',header=1)
Income16_df = pd.read_csv('Income_16.csv',header=1)
Age11_df = pd.read_csv('Age_11.csv',header=1)
Age05_df = pd.read_csv('Age_05.csv',header=1)
Income17_df = pd.read_csv('Income_17.csv',header=1)
Age10_df = pd.read_csv('Age_10.csv',header=1)
Race13_df = pd.read_csv('Race_13.csv',header=1)
Race07_df = pd.read_csv('Race_07.csv',header=1)
Race11_df = pd.read_csv('Race_11.csv',header=1)
Race05_df = pd.read_csv('Race_05.csv',header=1)
Age06_df = pd.read_csv('Age_06.csv',header=1)
Age12_df = pd.read_csv('Age_12.csv',header=1)
Income15_df = pd.read_csv('Income_15.csv',header=1)
Age13_df = pd.read_csv('Age_13.csv',header=1)
Income14_df = pd.read_csv('Income_14.csv',header=1)
Age07_df = pd.read_csv('Age_07.csv',header=1)
Race10_df = pd.read_csv('Race_10.csv',header=1)
Race14_df = pd.read_csv('Race_14.csv',header=1)
Income10_df = pd.read_csv('Income_10.csv',header=1)
Age17_df = pd.read_csv('Age_17.csv',header=1)
Income11_df = pd.read_csv('Income_11.csv',header=1)
Age16_df = pd.read_csv('Age_16.csv',header=1)
Income05_df = pd.read_csv('Income_05.csv',header=1)
Race15_df = pd.read_csv('Race_15.csv',header=1)
Race17_df = pd.read_csv('Race_17.csv',header=1)
Age14_df = pd.read_csv('Age_14.csv',header=1)
Income13_df = pd.read_csv('Income_13.csv',header=1)
Income07_df = pd.read_csv('Income_07.csv',header=1)
Income06_df = pd.read_csv('Income_06.csv',header=1)
Age15_df = pd.read_csv('Age_15.csv',header=1)
Income12_df = pd.read_csv('Income_12.csv',header=1)
Race16_df = pd.read_csv('Race_16.csv',header=1)
Income08_df = pd.read_csv('Income_08.csv',header=1)
Income09_df = pd.read_csv('Income_09.csv',header=1)
Race09_df = pd.read_csv('Race_09.csv',header=1)
Race08_df = pd.read_csv('Race_08.csv',header=1)
Age09_df = pd.read_csv('Age_09.csv',header=1)
Age08_df = pd.read_csv('Age_08.csv',header=1)

In [ ]:
Race06_df['Year'] = 2006
Race12_df['Year'] = 2012
Income16_df['Year'] = 2016
Age11_df['Year'] = 2011
Age05_df['Year'] = 2005
Income17_df['Year'] = 2017
Age10_df['Year'] = 2010
Race13_df['Year'] = 2013
Race07_df['Year'] = 2007
Race11_df['Year'] = 2011
Race05_df['Year'] = 2005
Age06_df['Year'] = 2006
Age12_df['Year'] = 2012
Income15_df['Year'] = 2015
Age13_df['Year'] = 2013
Income14_df['Year'] = 2014
Age07_df['Year'] = 2007
Race10_df['Year'] = 2010
Race14_df['Year'] = 2014
Income10_df['Year'] = 2010
Age17_df['Year'] = 2017
Income11_df['Year'] = 2011
Age16_df['Year'] = 2016
Income05_df['Year'] = 2005
Race15_df['Year'] = 2015
Race17_df['Year'] = 2017
Age14_df['Year'] = 2014
Income13_df['Year'] = 2013
Income07_df['Year'] = 2007
Income06_df['Year'] = 2006
Age15_df['Year'] = 2015
Income12_df['Year'] = 2012
Race16_df['Year'] = 2016
Income08_df['Year'] = 2008
Income09_df['Year'] = 2009
Race09_df['Year'] = 2009
Race08_df['Year'] = 2008
Age09_df['Year'] = 2009
Age08_df['Year'] = 2008

['Id',
 'Id2',
 'Geography',
 'Households; Estimate; Total',
 'Households; Margin of Error; Total',
 'Families; Estimate; Total',
 'Families; Margin of Error; Total',
 'Married-couple families; Estimate; Total',
 'Married-couple families; Margin of Error; Total',
 'Nonfamily households; Estimate; Total',
 'Nonfamily households; Margin of Error; Total',
 'Households; Estimate; Total - Less than $10,000',
 'Households; Margin of Error; Total - Less than $10,000',
 'Families; Estimate; Total - Less than $10,000',
 'Families; Margin of Error; Total - Less than $10,000',
 'Married-couple families; Estimate; Total - Less than $10,000',
 'Married-couple families; Margin of Error; Total - Less than $10,000',
 'Nonfamily households; Estimate; Total - Less than $10,000',
 'Nonfamily households; Margin of Error; Total - Less than $10,000',
 'Households; Estimate; Total - $10,000 to $14,999',
 'Households; Margin of Error; Total - $10,000 to $14,999',
 'Families; Estimate; Total - $10,000 to $14,999',
 'Families; Margin of Error; Total - $10,000 to $14,999',
 'Married-couple families; Estimate; Total - $10,000 to $14,999',
 'Married-couple families; Margin of Error; Total - $10,000 to $14,999',
 'Nonfamily households; Estimate; Total - $10,000 to $14,999',
 'Nonfamily households; Margin of Error; Total - $10,000 to $14,999',
 'Households; Estimate; Total - $15,000 to $24,999',
 'Households; Margin of Error; Total - $15,000 to $24,999',
 'Families; Estimate; Total - $15,000 to $24,999',
 'Families; Margin of Error; Total - $15,000 to $24,999',
 'Married-couple families; Estimate; Total - $15,000 to $24,999',
 'Married-couple families; Margin of Error; Total - $15,000 to $24,999',
 'Nonfamily households; Estimate; Total - $15,000 to $24,999',
 'Nonfamily households; Margin of Error; Total - $15,000 to $24,999',
 'Households; Estimate; Total - $25,000 to $34,999',
 'Households; Margin of Error; Total - $25,000 to $34,999',
 'Families; Estimate; Total - $25,000 to $34,999',
 'Families; Margin of Error; Total - $25,000 to $34,999',
 'Married-couple families; Estimate; Total - $25,000 to $34,999',
 'Married-couple families; Margin of Error; Total - $25,000 to $34,999',
 'Nonfamily households; Estimate; Total - $25,000 to $34,999',
 'Nonfamily households; Margin of Error; Total - $25,000 to $34,999',
 'Households; Estimate; Total - $35,000 to $49,999',
 'Households; Margin of Error; Total - $35,000 to $49,999',
 'Families; Estimate; Total - $35,000 to $49,999',
 'Families; Margin of Error; Total - $35,000 to $49,999',
 'Married-couple families; Estimate; Total - $35,000 to $49,999',
 'Married-couple families; Margin of Error; Total - $35,000 to $49,999',
 'Nonfamily households; Estimate; Total - $35,000 to $49,999',
 'Nonfamily households; Margin of Error; Total - $35,000 to $49,999',
 'Households; Estimate; Total - $50,000 to $74,999',
 'Households; Margin of Error; Total - $50,000 to $74,999',
 'Families; Estimate; Total - $50,000 to $74,999',
 'Families; Margin of Error; Total - $50,000 to $74,999',
 'Married-couple families; Estimate; Total - $50,000 to $74,999',
 'Married-couple families; Margin of Error; Total - $50,000 to $74,999',
 'Nonfamily households; Estimate; Total - $50,000 to $74,999',
 'Nonfamily households; Margin of Error; Total - $50,000 to $74,999',
 'Households; Estimate; Total - $75,000 to $99,999',
 'Households; Margin of Error; Total - $75,000 to $99,999',
 'Families; Estimate; Total - $75,000 to $99,999',
 'Families; Margin of Error; Total - $75,000 to $99,999',
 'Married-couple families; Estimate; Total - $75,000 to $99,999',
 'Married-couple families; Margin of Error; Total - $75,000 to $99,999',
 'Nonfamily households; Estimate; Total - $75,000 to $99,999',
 'Nonfamily households; Margin of Error; Total - $75,000 to $99,999',
 'Households; Estimate; Total - $100,000 to $149,999',
 'Households; Margin of Error; Total - $100,000 to $149,999',
 'Families; Estimate; Total - $100,000 to $149,999',
 'Families; Margin of Error; Total - $100,000 to $149,999',
 'Married-couple families; Estimate; Total - $100,000 to $149,999',
 'Married-couple families; Margin of Error; Total - $100,000 to $149,999',
 'Nonfamily households; Estimate; Total - $100,000 to $149,999',
 'Nonfamily households; Margin of Error; Total - $100,000 to $149,999',
 'Households; Estimate; Total - $150,000 to $199,999',
 'Households; Margin of Error; Total - $150,000 to $199,999',
 'Families; Estimate; Total - $150,000 to $199,999',
 'Families; Margin of Error; Total - $150,000 to $199,999',
 'Married-couple families; Estimate; Total - $150,000 to $199,999',
 'Married-couple families; Margin of Error; Total - $150,000 to $199,999',
 'Nonfamily households; Estimate; Total - $150,000 to $199,999',
 'Nonfamily households; Margin of Error; Total - $150,000 to $199,999',
 'Households; Estimate; Total - $200,000 or more',
 'Households; Margin of Error; Total - $200,000 or more',
 'Families; Estimate; Total - $200,000 or more',
 'Families; Margin of Error; Total - $200,000 or more',
 'Married-couple families; Estimate; Total - $200,000 or more',
 'Married-couple families; Margin of Error; Total - $200,000 or more',
 'Nonfamily households; Estimate; Total - $200,000 or more',
 'Nonfamily households; Margin of Error; Total - $200,000 or more',
 'Households; Estimate; Median income (dollars)',
 'Households; Margin of Error; Median income (dollars)',
 'Families; Estimate; Median income (dollars)',
 'Families; Margin of Error; Median income (dollars)',
 'Married-couple families; Estimate; Median income (dollars)',
 'Married-couple families; Margin of Error; Median income (dollars)',
 'Nonfamily households; Estimate; Median income (dollars)',
 'Nonfamily households; Margin of Error; Median income (dollars)',
 'Households; Estimate; Mean income (dollars)',
 'Households; Margin of Error; Mean income (dollars)',
 'Families; Estimate; Mean income (dollars)',
 'Families; Margin of Error; Mean income (dollars)',
 'Married-couple families; Estimate; Mean income (dollars)',
 'Married-couple families; Margin of Error; Mean income (dollars)',
 'Nonfamily households; Estimate; Mean income (dollars)',
 'Nonfamily households; Margin of Error; Mean income (dollars)',
 'Households; Estimate; PERCENT IMPUTED - Household income in the past 12 months',
 'Households; Margin of Error; PERCENT IMPUTED - Household income in the past 12 months',
 'Families; Estimate; PERCENT IMPUTED - Household income in the past 12 months',
 'Families; Margin of Error; PERCENT IMPUTED - Household income in the past 12 months',
 'Married-couple families; Estimate; PERCENT IMPUTED - Household income in the past 12 months',
 'Married-couple families; Margin of Error; PERCENT IMPUTED - Household income in the past 12 months',
 'Nonfamily households; Estimate; PERCENT IMPUTED - Household income in the past 12 months',
 'Nonfamily households; Margin of Error; PERCENT IMPUTED - Household income in the past 12 months',
 'Households; Estimate; PERCENT IMPUTED - Family income in the past 12 months',
 'Households; Margin of Error; PERCENT IMPUTED - Family income in the past 12 months',
 'Families; Estimate; PERCENT IMPUTED - Family income in the past 12 months',
 'Families; Margin of Error; PERCENT IMPUTED - Family income in the past 12 months',
 'Married-couple families; Estimate; PERCENT IMPUTED - Family income in the past 12 months',
 'Married-couple families; Margin of Error; PERCENT IMPUTED - Family income in the past 12 months',
 'Nonfamily households; Estimate; PERCENT IMPUTED - Family income in the past 12 months',
 'Nonfamily households; Margin of Error; PERCENT IMPUTED - Family income in the past 12 months',
 'Households; Estimate; PERCENT IMPUTED - Nonfamily income in the past 12 months',
 'Households; Margin of Error; PERCENT IMPUTED - Nonfamily income in the past 12 months',
 'Families; Estimate; PERCENT IMPUTED - Nonfamily income in the past 12 months',
 'Families; Margin of Error; PERCENT IMPUTED - Nonfamily income in the past 12 months',
 'Married-couple families; Estimate; PERCENT IMPUTED - Nonfamily income in the past 12 months',
 'Married-couple families; Margin of Error; PERCENT IMPUTED - Nonfamily income in the past 12 months',
 'Nonfamily households; Estimate; PERCENT IMPUTED - Nonfamily income in the past 12 months',
 'Nonfamily households; Margin of Error; PERCENT IMPUTED - Nonfamily income in the past 12 months']

In [16]:
Age05_df.rename(index=str,columns={'Total; Estimate; Total population':'Total; Estimate; Total population',
'Total; Estimate; Total population - AGE - Under 5 years' : 'Total; Estimate; AGE - Under 5 years',
'Total; Estimate; Total population - AGE - 5 to 9 years': 'Total; Estimate; AGE - 5 to 9 years',
'Total; Estimate; Total population - AGE - 10 to 14 years': 'Total; Estimate; AGE - 10 to 14 years',
'Total; Estimate; Total population - AGE - 15 to 19 years': 'Total; Estimate; AGE - 15 to 19 years',
'Total; Estimate; Total population - AGE - 20 to 24 years': 'Total; Estimate; AGE - 20 to 24 years',
'Total; Estimate; Total population - AGE - 25 to 29 years': 'Total; Estimate; AGE - 25 to 29 years',
'Total; Estimate; Total population - AGE - 30 to 34 years': 'Total; Estimate; AGE - 30 to 34 years',
'Total; Estimate; Total population - AGE - 35 to 39 years': 'Total; Estimate; AGE - 35 to 39 years',
'Total; Estimate; Total population - AGE - 40 to 44 years': 'Total; Estimate; AGE - 40 to 44 years',
'Total; Estimate; Total population - AGE - 45 to 49 years': 'Total; Estimate; AGE - 45 to 49 years',
'Total; Estimate; Total population - AGE - 50 to 54 years': 'Total; Estimate; AGE - 50 to 54 years',
'Total; Estimate; Total population - AGE - 55 to 59 years': 'Total; Estimate; AGE - 55 to 59 years',
'Total; Estimate; Total population - AGE - 60 to 64 years': 'Total; Estimate; AGE - 60 to 64 years',
'Total; Estimate; Total population - AGE - 65 to 69 years': 'Total; Estimate; AGE - 65 to 69 years',
'Total; Estimate; Total population - AGE - 70 to 74 years': 'Total; Estimate; AGE - 70 to 74 years',
'Total; Estimate; Total population - AGE - 80 to 84 years': 'Total; Estimate; AGE - 80 to 84 years',
'Total; Estimate; Total population - AGE - 85 years and over': 'Total; Estimate; AGE - 85 years and over'})

,Id,Id2,Geography,Total; Estimate; Total population,Total; Margin of Error; Total population,Male; Estimate; Total population,Male; Margin of Error; Total population,Female; Estimate; Total population,Female; Margin of Error; Total population,Total; Estimate; AGE - Under 5 years,...,Male; Estimate; Total population - PERCENT IMPUTED - Sex,Male; Margin of Error; Total population - PERCENT IMPUTED - Sex,Female; Estimate; Total population - PERCENT IMPUTED - Sex,Female; Margin of Error; Total population - PERCENT IMPUTED - Sex,Total; Estimate; Total population - PERCENT IMPUTED - Age,Total; Margin of Error; Total population - PERCENT IMPUTED - Age,Male; Estimate; Total population - PERCENT IMPUTED - Age,Male; Margin of Error; Total population - PERCENT IMPUTED - Age,Female; Estimate; Total population - PERCENT IMPUTED - Age,Female; Margin of Error; Total population - PERCENT IMPUTED - Age
0,1600000US0107000,107000,"Birmingham city, Alabama",222154,9045,104905,5557,117249,5354,7.8,...,(X),(X),(X),(X),1.8,(X),(X),(X),(X),(X)
1,1600000US0135896,135896,"Hoover city, Alabama",74473,6152,35599,3134,38874,3606,8.1,...,(X),(X),(X),(X),0.6,(X),(X),(X),(X),(X)
2,1600000US0137000,137000,"Huntsville city, Alabama",158618,5913,77599,3855,81019,3170,5.9,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
3,1600000US0150000,150000,"Mobile city, Alabama",193332,8455,89121,4489,104211,5041,7.5,...,(X),(X),(X),(X),1.0,(X),(X),(X),(X),(X)
4,1600000US0151000,151000,"Montgomery city, Alabama",193042,3074,89857,1824,103185,1553,7.9,...,(X),(X),(X),(X),0.5,(X),(X),(X),(X),(X)
5,1600000US0177256,177256,"Tuscaloosa city, Alabama",68006,4295,31024,2290,36982,3036,7.1,...,(X),(X),(X),(X),1.5,(X),(X),(X),(X),(X)
6,1600000US0203000,203000,"Anchorage municipality, Alaska",266281,*****,133135,1145,133146,1145,8.0,...,(X),(X),(X),(X),0.7,(X),(X),(X),(X),(X)
7,1600000US0404720,404720,"Avondale city, Arizona",61666,7985,30629,3867,31037,5991,10.9,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
8,1600000US0412000,412000,"Chandler city, Arizona",225725,12895,114179,8299,111546,6617,7.8,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
9,1600000US0427400,427400,"Gilbert town, Arizona",178539,10630,89662,5675,88877,6278,11.4,...,(X),(X),(X),(X),0.6,(X),(X),(X),(X),(X)
10,1600000US0427820,427820,"Glendale city, Arizona",229913,15332,115219,8403,114694,8647,9.8,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
11,1600000US0446000,446000,"Mesa city, Arizona",442445,17998,224367,10196,218078,10779,8.4,...,(X),(X),(X),(X),1.0,(X),(X),(X),(X),(X)
12,1600000US0454050,454050,"Peoria city, Arizona",141941,12397,68390,6788,73551,6604,7.2,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
13,1600000US0455000,455000,"Phoenix city, Arizona",1377980,26483,694972,14862,683008,14475,8.8,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
14,1600000US0465000,465000,"Scottsdale city, Arizona",215933,11086,109338,6779,106595,6150,7.0,...,(X),(X),(X),(X),1.0,(X),(X),(X),(X),(X)
15,1600000US0471510,471510,"Surprise city, Arizona",91411,9573,45478,5318,45933,4928,11.0,...,(X),(X),(X),(X),0.4,(X),(X),(X),(X),(X)
16,1600000US0473000,473000,"Tempe city, Arizona",166171,13068,84982,7857,81189,7431,5.1,...,(X),(X),(X),(X),0.6,(X),(X),(X),(X),(X)
17,1600000US0477000,477000,"Tucson city, Arizona",507362,10053,248306,5306,259056,6112,8.4,...,(X),(X),(X),(X),0.5,(X),(X),(X),(X),(X)
18,1600000US0485540,485540,"Yuma city, Arizona",91433,5918,43460,3550,47973,3287,10.7,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
19,1600000US0523290,523290,"Fayetteville city, Arkansas",58839,4451,30026,2760,28813,2640,6.0,...,(X),(X),(X),(X),0.4,(X),(X),(X),(X),(X)
20,1600000US0524550,524550,"Fort Smith city, Arkansas",81054,2989,38270,1925,42784,2000,8.5,...,(X),(X),(X),(X),0.6,(X),(X),(X),(X),(X)
21,1600000US0541000,541000,"Little Rock city, Arkansas",176924,8246,85001,4170,91923,4716,7.7,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
22,1600000US0600562,600562,"Alameda city, California",77058,7456,36967,4212,40091,4618,7.0,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)
23,1600000US0600884,600884,"Alhambra city, California",76309,8380,35957,4109,40352,5020,6.7,...,(X),(X),(X),(X),1.5,(X),(X),(X),(X),(X)
24,1600000US0602000,602000,"Anaheim city, California",329483,18477,164291,9985,165192,10365,9.7,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
25,1600000US0602252,602252,"Antioch city, California",103339,8668,52945,4853,50394,5043,8.0,...,(X),(X),(X),(X),0.5,(X),(X),(X),(X),(X)
26,1600000US0602364,602364,"Apple Valley town, California",65229,7901,33143,4348,32086,4092,7.0,...,(X),(X),(X),(X),0.3,(X),(X),(X),(X),(X)
27,1600000US0602553,602553,"Arden-Arcade CDP, California",94284,6652,44791,4363,49493,3820,8.4,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)
28,1600000US0603526,603526,"Bakersfield city, California",286316,13835,139822,7940,146494,6995,9.7,...,(X),(X),(X),(X),0.6,(X),(X),(X),(X),(X)
29,1600000US0603666,603666,"Baldwin Park city, California",84812,13151,41052,5944,43760,8308,10.9,...,(X),(X),(X),(X),4.1,(X),(X),(X),(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,1600000US5103000,5103000,"Arlington CDP, Virginia",191852,*****,95107,1165,96745,1165,7.0,...,(X),(X),(X),(X),0.6,(X),(X),(X),(X),(X)
463,1600000US5116000,5116000,"Chesapeake city, Virginia",214835,*****,103380,347,111455,347,6.8,...,(X),(X),(X),(X),0.5,(X),(X),(X),(X),(X)
464,1600000US5121088,5121088,"Dale City CDP, Virginia",66005,6271,31786,3061,34219,4044,7.2,...,(X),(X),(X),(X),0.3,(X),(X),(X),(X),(X)
465,1600000US5135000,5135000,"Hampton city, Virginia",133584,*****,63535,789,70049,789,7.1,...,(X),(X),(X),(X),0.3,(X),(X),(X),(X),(X)
466,1600000US5147672,5147672,"Lynchburg city, Virginia",60378,2660,28145,1729,32233,1358,6.6,...,(X),(X),(X),(X),0.1,(X),(X),(X),(X),(X)
467,1600000US5156000,5156000,"Newport News city, Virginia",176591,*****,84853,523,91738,523,9.1,...,(X),(X),(X),(X),0.7,(X),(X),(X),(X),(X)
468,1600000US5157000,5157000,"Norfolk city, Virginia",206172,*****,99659,460,106513,460,9.6,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)
469,1600000US5164000,5164000,"Portsmouth city, Virginia",95183,*****,44455,671,50728,671,8.4,...,(X),(X),(X),(X),2.8,(X),(X),(X),(X),(X)
470,1600000US5167000,5167000,"Richmond city, Virginia",180757,*****,82904,643,97853,643,8.6,...,(X),(X),(X),(X),0.6,(X),(X),(X),(X),(X)
471,1600000US5168000,5168000,"Roanoke city, Virginia",90074,*****,41824,603,48250,603,7.2,...,(X),(X),(X),(X),1.5,(X),(X),(X),(X),(X)
472,1600000US5176432,5176432,"Suffolk city, Virginia",77922,*****,37776,617,40146,617,7.3,...,(X),(X),(X),(X),0.3,(X),(X),(X),(X),(X)
473,1600000US5182000,5182000,"Virginia Beach city, Virginia",430856,*****,211823,683,219033,683,7.5,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
474,1600000US5305210,5305210,"Bellevue city, Washington",114748,6795,58240,3691,56508,4029,6.0,...,(X),(X),(X),(X),0.5,(X),(X),(X),(X),(X)
475,1600000US5305280,5305280,"Bellingham city, Washington",69057,5279,34013,3266,35044,2767,4.6,...,(X),(X),(X),(X),0.4,(X),(X),(X),(X),(X)
476,1600000US5322640,5322640,"Everett city, Washington",88850,6813,45374,3825,43476,3734,7.7,...,(X),(X),(X),(X),0.3,(X),(X),(X),(X),(X)
477,1600000US5323515,5323515,"Federal Way city, Washington",83164,10987,39428,5313,43736,6492,6.0,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
478,1600000US5335415,5335415,"Kent city, Washington",84979,6498,42029,3915,42950,3805,8.4,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
479,1600000US5363000,5363000,"Seattle city, Washington",536946,15562,270027,9169,266919,8875,5.9,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
480,1600000US5367000,5367000,"Spokane city, Washington",192777,6147,94628,3577,98149,4020,5.8,...,(X),(X),(X),(X),1.0,(X),(X),(X),(X),(X)
481,1600000US5367167,5367167,"Spokane Valley city, Washington",87731,5737,41318,2887,46413,3601,8.5,...,(X),(X),(X),(X),0.4,(X),(X),(X),(X),(X)
482,1600000US5370000,5370000,"Tacoma city, Washington",191934,9014,92099,4903,99835,5234,7.0,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
483,1600000US5374060,5374060,"Vancouver city, Washington",155488,8236,77861,4674,77627,4451,6.9,...,(X),(X),(X),(X),0.2,(X),(X),(X),(X),(X)
484,1600000US5380010,5380010,"Yakima city, Washington",79517,5555,39637,3325,39880,2990,8.9,...,(X),(X),(X),(X),0.5,(X),(X),(X),(X),(X)
485,1600000US5502375,5502375,"Appleton city, Wisconsin",69489,3956,33998,2324,35491,2290,6.1,...,(X),(X),(X),(X),0.1,(X),(X),(X),(X),(X)
486,1600000US5531000,5531000,"Green Bay city, Wisconsin",94242,4790,45824,3019,48418,2409,5.9,...,(X),(X),(X),(X),2.2,(X),(X),(X),(X),(X)
487,1600000US5539225,5539225,"Kenosha city, Wisconsin",95440,3986,46930,2379,48510,2276,7.6,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
488,1600000US5548000,5548000,"Madison city, Wisconsin",203704,6988,99440,4026,104264,4155,5.8,...,(X),(X),(X),(X),0.9,(X),(X),(X),(X),(X)
489,1600000US5553000,5553000,"Milwaukee city, Wisconsin",556948,9596,268031,6094,288917,4970,8.6,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)
490,1600000US5566000,5566000,"Racine city, Wisconsin",77277,4463,36618,2564,40659,2423,7.8,...,(X),(X),(X),(X),1.4,(X),(X),(X),(X),(X)
491,1600000US5584250,5584250,"Waukesha city, Wisconsin",62690,4259,31114,2461,31576,2636,6.2,...,(X),(X),(X),(X),0.8,(X),(X),(X),(X),(X)

In [ ]:
Age05_df.rename(index=str,columns={'Total; Estimate; Total population':'Total; Estimate; Total population',
'Total; Estimate; Total population - AGE - Under 5 years' : 'Total; Estimate; AGE - Under 5 years',
'Total; Estimate; Total population - AGE - 5 to 9 years': 'Total; Estimate; AGE - 5 to 9 years',
'Total; Estimate; Total population - AGE - 10 to 14 years': 'Total; Estimate; AGE - 10 to 14 years',
'Total; Estimate; Total population - AGE - 15 to 19 years': 'Total; Estimate; AGE - 15 to 19 years',
'Total; Estimate; Total population - AGE - 20 to 24 years': 'Total; Estimate; AGE - 20 to 24 years',
'Total; Estimate; Total population - AGE - 25 to 29 years': 'Total; Estimate; AGE - 25 to 29 years',
'Total; Estimate; Total population - AGE - 30 to 34 years': 'Total; Estimate; AGE - 30 to 34 years',
'Total; Estimate; Total population - AGE - 35 to 39 years': 'Total; Estimate; AGE - 35 to 39 years',
'Total; Estimate; Total population - AGE - 40 to 44 years': 'Total; Estimate; AGE - 40 to 44 years',
'Total; Estimate; Total population - AGE - 45 to 49 years': 'Total; Estimate; AGE - 45 to 49 years',
'Total; Estimate; Total population - AGE - 50 to 54 years': 'Total; Estimate; AGE - 50 to 54 years',
'Total; Estimate; Total population - AGE - 55 to 59 years': 'Total; Estimate; AGE - 55 to 59 years',
'Total; Estimate; Total population - AGE - 60 to 64 years': 'Total; Estimate; AGE - 60 to 64 years',
'Total; Estimate; Total population - AGE - 65 to 69 years': 'Total; Estimate; AGE - 65 to 69 years',
'Total; Estimate; Total population - AGE - 70 to 74 years': 'Total; Estimate; AGE - 70 to 74 years',
'Total; Estimate; Total population - AGE - 80 to 84 years': 'Total; Estimate; AGE - 80 to 84 years',
'Total; Estimate; Total population - AGE - 85 years and over': 'Total; Estimate; AGE - 85 years and over'})

In [7]:
list(Age10_df.columns)

['Id',
 'Id2',
 'Geography',
 'Total; Estimate; Total population',
 'Total; Margin of Error; Total population',
 'Male; Estimate; Total population',
 'Male; Margin of Error; Total population',
 'Female; Estimate; Total population',
 'Female; Margin of Error; Total population',
 'Total; Estimate; AGE - Under 5 years',
 'Total; Margin of Error; AGE - Under 5 years',
 'Male; Estimate; AGE - Under 5 years',
 'Male; Margin of Error; AGE - Under 5 years',
 'Female; Estimate; AGE - Under 5 years',
 'Female; Margin of Error; AGE - Under 5 years',
 'Total; Estimate; AGE - 5 to 9 years',
 'Total; Margin of Error; AGE - 5 to 9 years',
 'Male; Estimate; AGE - 5 to 9 years',
 'Male; Margin of Error; AGE - 5 to 9 years',
 'Female; Estimate; AGE - 5 to 9 years',
 'Female; Margin of Error; AGE - 5 to 9 years',
 'Total; Estimate; AGE - 10 to 14 years',
 'Total; Margin of Error; AGE - 10 to 14 years',
 'Male; Estimate; AGE - 10 to 14 years',
 'Male; Margin of Error; AGE - 10 to 14 years',
 'Female; Estimate; AGE - 10 to 14 years',
 'Female; Margin of Error; AGE - 10 to 14 years',
 'Total; Estimate; AGE - 15 to 19 years',
 'Total; Margin of Error; AGE - 15 to 19 years',
 'Male; Estimate; AGE - 15 to 19 years',
 'Male; Margin of Error; AGE - 15 to 19 years',
 'Female; Estimate; AGE - 15 to 19 years',
 'Female; Margin of Error; AGE - 15 to 19 years',
 'Total; Estimate; AGE - 20 to 24 years',
 'Total; Margin of Error; AGE - 20 to 24 years',
 'Male; Estimate; AGE - 20 to 24 years',
 'Male; Margin of Error; AGE - 20 to 24 years',
 'Female; Estimate; AGE - 20 to 24 years',
 'Female; Margin of Error; AGE - 20 to 24 years',
 'Total; Estimate; AGE - 25 to 29 years',
 'Total; Margin of Error; AGE - 25 to 29 years',
 'Male; Estimate; AGE - 25 to 29 years',
 'Male; Margin of Error; AGE - 25 to 29 years',
 'Female; Estimate; AGE - 25 to 29 years',
 'Female; Margin of Error; AGE - 25 to 29 years',
 'Total; Estimate; AGE - 30 to 34 years',
 'Total; Margin of Error; AGE - 30 to 34 years',
 'Male; Estimate; AGE - 30 to 34 years',
 'Male; Margin of Error; AGE - 30 to 34 years',
 'Female; Estimate; AGE - 30 to 34 years',
 'Female; Margin of Error; AGE - 30 to 34 years',
 'Total; Estimate; AGE - 35 to 39 years',
 'Total; Margin of Error; AGE - 35 to 39 years',
 'Male; Estimate; AGE - 35 to 39 years',
 'Male; Margin of Error; AGE - 35 to 39 years',
 'Female; Estimate; AGE - 35 to 39 years',
 'Female; Margin of Error; AGE - 35 to 39 years',
 'Total; Estimate; AGE - 40 to 44 years',
 'Total; Margin of Error; AGE - 40 to 44 years',
 'Male; Estimate; AGE - 40 to 44 years',
 'Male; Margin of Error; AGE - 40 to 44 years',
 'Female; Estimate; AGE - 40 to 44 years',
 'Female; Margin of Error; AGE - 40 to 44 years',
 'Total; Estimate; AGE - 45 to 49 years',
 'Total; Margin of Error; AGE - 45 to 49 years',
 'Male; Estimate; AGE - 45 to 49 years',
 'Male; Margin of Error; AGE - 45 to 49 years',
 'Female; Estimate; AGE - 45 to 49 years',
 'Female; Margin of Error; AGE - 45 to 49 years',
 'Total; Estimate; AGE - 50 to 54 years',
 'Total; Margin of Error; AGE - 50 to 54 years',
 'Male; Estimate; AGE - 50 to 54 years',
 'Male; Margin of Error; AGE - 50 to 54 years',
 'Female; Estimate; AGE - 50 to 54 years',
 'Female; Margin of Error; AGE - 50 to 54 years',
 'Total; Estimate; AGE - 55 to 59 years',
 'Total; Margin of Error; AGE - 55 to 59 years',
 'Male; Estimate; AGE - 55 to 59 years',
 'Male; Margin of Error; AGE - 55 to 59 years',
 'Female; Estimate; AGE - 55 to 59 years',
 'Female; Margin of Error; AGE - 55 to 59 years',
 'Total; Estimate; AGE - 60 to 64 years',
 'Total; Margin of Error; AGE - 60 to 64 years',
 'Male; Estimate; AGE - 60 to 64 years',
 'Male; Margin of Error; AGE - 60 to 64 years',
 'Female; Estimate; AGE - 60 to 64 years',
 'Female; Margin of Error; AGE - 60 to 64 years',
 'Total; Estimate; AGE - 65 to 69 years',
 'Total; Margin of Error; AGE - 65 to 69 years',
 'Male; Estimate; AGE - 65 to 69 years',
 'Male; Margin of Error; AGE - 65 to 69 years',
 'Female; Estimate; AGE - 65 to 69 years',
 'Female; Margin of Error; AGE - 65 to 69 years',
 'Total; Estimate; AGE - 70 to 74 years',
 'Total; Margin of Error; AGE - 70 to 74 years',
 'Male; Estimate; AGE - 70 to 74 years',
 'Male; Margin of Error; AGE - 70 to 74 years',
 'Female; Estimate; AGE - 70 to 74 years',
 'Female; Margin of Error; AGE - 70 to 74 years',
 'Total; Estimate; AGE - 75 to 79 years',
 'Total; Margin of Error; AGE - 75 to 79 years',
 'Male; Estimate; AGE - 75 to 79 years',
 'Male; Margin of Error; AGE - 75 to 79 years',
 'Female; Estimate; AGE - 75 to 79 years',
 'Female; Margin of Error; AGE - 75 to 79 years',
 'Total; Estimate; AGE - 80 to 84 years',
 'Total; Margin of Error; AGE - 80 to 84 years',
 'Male; Estimate; AGE - 80 to 84 years',
 'Male; Margin of Error; AGE - 80 to 84 years',
 'Female; Estimate; AGE - 80 to 84 years',
 'Female; Margin of Error; AGE - 80 to 84 years',
 'Total; Estimate; AGE - 85 years and over',
 'Total; Margin of Error; AGE - 85 years and over',
 'Male; Estimate; AGE - 85 years and over',
 'Male; Margin of Error; AGE - 85 years and over',
 'Female; Estimate; AGE - 85 years and over',
 'Female; Margin of Error; AGE - 85 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 62 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 62 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 62 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 62 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 62 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 62 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 65 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 65 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 65 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 65 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 65 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 65 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 75 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 75 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 75 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 75 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 75 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 75 years and over',
 'Total; Estimate; SUMMARY INDICATORS - Median age (years)',
 'Total; Margin of Error; SUMMARY INDICATORS - Median age (years)',
 'Male; Estimate; SUMMARY INDICATORS - Median age (years)',
 'Male; Margin of Error; SUMMARY INDICATORS - Median age (years)',
 'Female; Estimate; SUMMARY INDICATORS - Median age (years)',
 'Female; Margin of Error; SUMMARY INDICATORS - Median age (years)',
 'Total; Estimate; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Total; Margin of Error; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Male; Estimate; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Male; Margin of Error; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Female; Estimate; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Female; Margin of Error; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Total; Estimate; SUMMARY INDICATORS - Age dependency ratio',
 'Total; Margin of Error; SUMMARY INDICATORS - Age dependency ratio',
 'Male; Estimate; SUMMARY INDICATORS - Age dependency ratio',
 'Male; Margin of Error; SUMMARY INDICATORS - Age dependency ratio',
 'Female; Estimate; SUMMARY INDICATORS - Age dependency ratio',
 'Female; Margin of Error; SUMMARY INDICATORS - Age dependency ratio',
 'Total; Estimate; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Total; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Male; Estimate; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Male; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Female; Estimate; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Female; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Total; Estimate; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Total; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Male; Estimate; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Male; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Female; Estimate; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Female; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Total; Estimate; PERCENT IMPUTED - Sex',
 'Total; Margin of Error; PERCENT IMPUTED - Sex',
 'Male; Estimate; PERCENT IMPUTED - Sex',
 'Male; Margin of Error; PERCENT IMPUTED - Sex',
 'Female; Estimate; PERCENT IMPUTED - Sex',
 'Female; Margin of Error; PERCENT IMPUTED - Sex',
 'Total; Estimate; PERCENT IMPUTED - Age',
 'Total; Margin of Error; PERCENT IMPUTED - Age',
 'Male; Estimate; PERCENT IMPUTED - Age',
 'Male; Margin of Error; PERCENT IMPUTED - Age',
 'Female; Estimate; PERCENT IMPUTED - Age',
 'Female; Margin of Error; PERCENT IMPUTED - Age']

In [ ]:
income_list = [Income05_df, Income06_df, Income07_df, Income08_df, Income09_df, 
            Income10_df, Income11_df, Income12_df, Income13_df, 
            Income14_df, Income15_df, Income16_df, Income17_df]


age_list_1 =[Age10_df, Age11_df, Age12_df, Age13_df, Age14_df, Age15_df, Age16_df,  Age17_df]

age_list_2 = [Age05_df, Age06_df, Age07_df, Age08_df, Age09_df]


race_list = [Race05_df, Race06_df, Race07_df, Race08_df, Race09_df, Race10_df, Race11_df,
             Race12_df, Race13_df, Race14_df, Race15_df, Race16_df, Race17_df]

income_data = []
for df in income_list:
    income_columns = df.columns[df.columns.str.contains(pat="Households; Estimate;")]
    income_data.append(df[income_columns])
    

age_data_1 = []
for df in age_list_1:
    age_columns = df.columns[df.columns.str.contains(pat="Total; Estimate; AGE")]
    age_data_1.append(df[age_columns])
    
age_data_2 = []
for df in age_list_2:
    age_columns = df.columns[df.columns.str.contains(pat="Total; Estimate; Total population - AGE")]
    age_data_2.append(df[age_columns])


race_data = []
for df in race_list:
    race_columns = df.columns[df.columns.str.contains(pat="Estimate;")]
    race_data.append(df[race_columns])
    
#Total; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years

In [ ]:
list(Age_05_df.columns)

In [ ]:
list(Age05_df.columns)

In [ ]:
income_12 = Income12_df[income_columns]

income_12.head()

In [ ]:
data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df,]

In [ ]:
from functools import reduce

data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Geography'],
                                            how='outer'), data_frames)

df_merged.head(5)

In [ ]:
from geopy.geocoders import GoogleV3
locations = df_merged["Geography"]
geolocator = GoogleV3(api_key='AIzaSyDLVWpa6EhCXUaEms-89CB49H9Jlkw8L1k')
for location in locations:
   #print location
    results = geolocator.geocode(query=location, language='en', exactly_one=False, timeout=5)
       #for result in results:
           #print result.raw
        
print(locations[0])

In [ ]:
#df_merged.to_csv('2005_2017_P2_data.csv')