In [1]:
import requests
from pprint import pprint
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics
import datetime

%matplotlib notebook

In [2]:
Race06_df = pd.read_csv('Race_06.csv')
Race12_df = pd.read_csv('Race_12.csv')
Income16_df = pd.read_csv('Income_16.csv')
Age11_df = pd.read_csv('Age_11.csv')
Age05_df = pd.read_csv('Age_05.csv')
Income17_df = pd.read_csv('Income_17.csv')
Age10_df = pd.read_csv('Age_10.csv')
Race13_df = pd.read_csv('Race_13.csv')
Race07_df = pd.read_csv('Race_07.csv')
Race11_df = pd.read_csv('Race_11.csv')
Race05_df = pd.read_csv('Race_05.csv')
Age06_df = pd.read_csv('Age_06.csv')
Age12_df = pd.read_csv('Age_12.csv')
Income15_df = pd.read_csv('Income_15.csv')
Age13_df = pd.read_csv('Age_13.csv')

In [3]:
Income14_df = pd.read_csv('Income_14.csv')
Age07_df = pd.read_csv('Age_07.csv')
Race10_df = pd.read_csv('Race_10.csv')
Race14_df = pd.read_csv('Race_14.csv')
Income10_df = pd.read_csv('Income_10.csv')
Age17_df = pd.read_csv('Age_17.csv')
Income11_df = pd.read_csv('Income_11.csv')
Age16_df = pd.read_csv('Age_16.csv')
Income05_df = pd.read_csv('Income_05.csv')
Race15_df = pd.read_csv('Race_15.csv')
Race17_df = pd.read_csv('Race_17.csv')
Age14_df = pd.read_csv('Age_14.csv')
Income13_df = pd.read_csv('Income_13.csv')
Income07_df = pd.read_csv('Income_07.csv')
Income06_df = pd.read_csv('Income_06.csv')
Age15_df = pd.read_csv('Age_15.csv')
Income12_df = pd.read_csv('Income_12.csv')
Race16_df = pd.read_csv('Race_16.csv')
Income08_df = pd.read_csv('Income_08.csv')
Income09_df = pd.read_csv('Income_09.csv')
Race09_df = pd.read_csv('Race_09.csv')
Race08_df = pd.read_csv('Race_08.csv')
Age09_df = pd.read_csv('Age_09.csv')
Age08_df = pd.read_csv('Age_08.csv')

In [4]:
Race06_df['Year'] = 2006
Race12_df['Year'] = 2012
Income16_df['Year'] = 2016
Age11_df['Year'] = 2011
Age05_df['Year'] = 2005
Income17_df['Year'] = 2017
Age10_df['Year'] = 2010
Race13_df['Year'] = 2013
Race07_df['Year'] = 2007
Race11_df['Year'] = 2011
Race05_df['Year'] = 2005
Age06_df['Year'] = 2006
Age12_df['Year'] = 2012
Income15_df['Year'] = 2015
Age13_df['Year'] = 2013
Income14_df['Year'] = 2014
Age07_df['Year'] = 2007
Race10_df['Year'] = 2010
Race14_df['Year'] = 2014
Income10_df['Year'] = 2010
Age17_df['Year'] = 2017
Income11_df['Year'] = 2011
Age16_df['Year'] = 2016
Income05_df['Year'] = 2005
Race15_df['Year'] = 2015
Race17_df['Year'] = 2017
Age14_df['Year'] = 2014
Income13_df['Year'] = 2013
Income07_df['Year'] = 2007
Income06_df['Year'] = 2006
Age15_df['Year'] = 2015
Income12_df['Year'] = 2012
Race16_df['Year'] = 2016
Income08_df['Year'] = 2008
Income09_df['Year'] = 2009
Race09_df['Year'] = 2009
Race08_df['Year'] = 2008
Age09_df['Year'] = 2009
Age08_df['Year'] = 2008

In [5]:
data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df,]

In [6]:
from functools import reduce

data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['GEO.id2'],
                                            how='outer'), data_frames)

df_merged.head(5)

,GEO.id_x,GEO.id2,GEO.display-label_x,HD01_VD01_x,HD02_VD01_x,HD01_VD02_x,HD02_VD02_x,HD01_VD03_x,HD02_VD03_x,HD01_VD04_x,...,HC02_MOE_VC39,HC03_EST_VC39,HC03_MOE_VC39,HC01_EST_VC40_y,HC01_MOE_VC40_y,HC02_EST_VC40_y,HC02_MOE_VC40_y,HC03_EST_VC40_y,HC03_MOE_VC40_y,Year
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; White alone,Margin of Error; White alone,Estimate; Black or African American alone,Margin of Error; Black or African American alone,Estimate; American Indian and Alaska Native alone,...,Male; Margin of Error; Total population - PERC...,Female; Estimate; Total population - PERCENT I...,Female; Margin of Error; Total population - PE...,Total; Estimate; Total population - PERCENT IM...,Total; Margin of Error; Total population - PER...,Male; Estimate; Total population - PERCENT IMP...,Male; Margin of Error; Total population - PERC...,Female; Estimate; Total population - PERCENT I...,Female; Margin of Error; Total population - PE...,2008.0
1,1600000US0107000,0107000,"Birmingham city, Alabama",217131,8773,48429,4644,161911,7081,130,...,(X),(X),(X),1.7,(X),(X),(X),(X),(X),2008.0
2,1600000US0135896,0135896,"Hoover city, Alabama",71832,5802,56964,4604,10734,3290,255,...,(X),(X),(X),0.7,(X),(X),(X),(X),(X),2008.0
3,1600000US0137000,0137000,"Huntsville city, Alabama",166747,5626,104445,5003,53284,3145,604,...,(X),(X),(X),0.9,(X),(X),(X),(X),(X),2008.0
4,1600000US0150000,0150000,"Mobile city, Alabama",194822,7225,93981,5708,93414,5237,487,...,(X),(X),(X),0.7,(X),(X),(X),(X),(X),2008.0

In [9]:
df_merged.to_csv('2005_2017_P2_data.csv')