In [1]:
import requests
from pprint import pprint
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics
import datetime
import geopy 

%matplotlib notebook

In [2]:
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race12_df = pd.read_csv('Race_12.csv',header=1)
Income16_df = pd.read_csv('Income_16.csv',header=1)
Age11_df = pd.read_csv('Age_11.csv',header=1)
Age05_df = pd.read_csv('Age_05.csv',header=1)
Income17_df = pd.read_csv('Income_17.csv',header=1)
Age10_df = pd.read_csv('Age_10.csv',header=1)
Race13_df = pd.read_csv('Race_13.csv',header=1)
Race07_df = pd.read_csv('Race_07.csv',header=1)
Race11_df = pd.read_csv('Race_11.csv',header=1)
Race05_df = pd.read_csv('Race_05.csv',header=1)
Age06_df = pd.read_csv('Age_06.csv',header=1)
Age12_df = pd.read_csv('Age_12.csv',header=1)
Income15_df = pd.read_csv('Income_15.csv',header=1)
Age13_df = pd.read_csv('Age_13.csv',header=1)
Income14_df = pd.read_csv('Income_14.csv',header=1)
Age07_df = pd.read_csv('Age_07.csv',header=1)
Race10_df = pd.read_csv('Race_10.csv',header=1)
Race14_df = pd.read_csv('Race_14.csv',header=1)
Income10_df = pd.read_csv('Income_10.csv',header=1)
Age17_df = pd.read_csv('Age_17.csv',header=1)
Income11_df = pd.read_csv('Income_11.csv',header=1)
Age16_df = pd.read_csv('Age_16.csv',header=1)
Income05_df = pd.read_csv('Income_05.csv',header=1)
Race15_df = pd.read_csv('Race_15.csv',header=1)
Race17_df = pd.read_csv('Race_17.csv',header=1)
Age14_df = pd.read_csv('Age_14.csv',header=1)
Income13_df = pd.read_csv('Income_13.csv',header=1)
Income07_df = pd.read_csv('Income_07.csv',header=1)
Income06_df = pd.read_csv('Income_06.csv',header=1)
Age15_df = pd.read_csv('Age_15.csv',header=1)
Income12_df = pd.read_csv('Income_12.csv',header=1)
Race16_df = pd.read_csv('Race_16.csv',header=1)
Income08_df = pd.read_csv('Income_08.csv',header=1)
Income09_df = pd.read_csv('Income_09.csv',header=1)
Race09_df = pd.read_csv('Race_09.csv',header=1)
Race08_df = pd.read_csv('Race_08.csv',header=1)
Age09_df = pd.read_csv('Age_09.csv',header=1)
Age08_df = pd.read_csv('Age_08.csv',header=1)

In [3]:
Race06_df['Year'] = 2006
Race12_df['Year'] = 2012
Income16_df['Year'] = 2016
Age11_df['Year'] = 2011
Age05_df['Year'] = 2005
Income17_df['Year'] = 2017
Age10_df['Year'] = 2010
Race13_df['Year'] = 2013
Race07_df['Year'] = 2007
Race11_df['Year'] = 2011
Race05_df['Year'] = 2005
Age06_df['Year'] = 2006
Age12_df['Year'] = 2012
Income15_df['Year'] = 2015
Age13_df['Year'] = 2013
Income14_df['Year'] = 2014
Age07_df['Year'] = 2007
Race10_df['Year'] = 2010
Race14_df['Year'] = 2014
Income10_df['Year'] = 2010
Age17_df['Year'] = 2017
Income11_df['Year'] = 2011
Age16_df['Year'] = 2016
Income05_df['Year'] = 2005
Race15_df['Year'] = 2015
Race17_df['Year'] = 2017
Age14_df['Year'] = 2014
Income13_df['Year'] = 2013
Income07_df['Year'] = 2007
Income06_df['Year'] = 2006
Age15_df['Year'] = 2015
Income12_df['Year'] = 2012
Race16_df['Year'] = 2016
Income08_df['Year'] = 2008
Income09_df['Year'] = 2009
Race09_df['Year'] = 2009
Race08_df['Year'] = 2008
Age09_df['Year'] = 2009
Age08_df['Year'] = 2008

In [4]:
data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df,]

In [5]:
from functools import reduce

data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Geography'],
                                            how='outer'), data_frames)

df_merged.head(5)

,Id_x,Id2_x,Geography,Estimate; Total:_x,Margin of Error; Total:_x,Estimate; White alone_x,Margin of Error; White alone_x,Estimate; Black or African American alone_x,Margin of Error; Black or African American alone_x,Estimate; American Indian and Alaska Native alone_x,...,Male; Margin of Error; Total population - PERCENT IMPUTED - Sex,Female; Estimate; Total population - PERCENT IMPUTED - Sex,Female; Margin of Error; Total population - PERCENT IMPUTED - Sex,Total; Estimate; Total population - PERCENT IMPUTED - Age,Total; Margin of Error; Total population - PERCENT IMPUTED - Age,Male; Estimate; Total population - PERCENT IMPUTED - Age,Male; Margin of Error; Total population - PERCENT IMPUTED - Age,Female; Estimate; Total population - PERCENT IMPUTED - Age,Female; Margin of Error; Total population - PERCENT IMPUTED - Age,Year
0,1600000US0107000,107000.0,"Birmingham city, Alabama",217131.0,8773,48429.0,4644.0,161911.0,7081.0,130.0,...,(X),(X),(X),1.7,(X),(X),(X),(X),(X),2008.0
1,1600000US0135896,135896.0,"Hoover city, Alabama",71832.0,5802,56964.0,4604.0,10734.0,3290.0,255.0,...,(X),(X),(X),0.7,(X),(X),(X),(X),(X),2008.0
2,1600000US0137000,137000.0,"Huntsville city, Alabama",166747.0,5626,104445.0,5003.0,53284.0,3145.0,604.0,...,(X),(X),(X),0.9,(X),(X),(X),(X),(X),2008.0
3,1600000US0150000,150000.0,"Mobile city, Alabama",194822.0,7225,93981.0,5708.0,93414.0,5237.0,487.0,...,(X),(X),(X),0.7,(X),(X),(X),(X),(X),2008.0
4,1600000US0151000,151000.0,"Montgomery city, Alabama",202443.0,3634,86957.0,2253.0,108858.0,2937.0,429.0,...,(X),(X),(X),1.5,(X),(X),(X),(X),(X),2008.0

In [11]:
from geopy.geocoders import GoogleV3
locations = df_merged["Geography"]
geolocator = GoogleV3(api_key='AIzaSyDLVWpa6EhCXUaEms-89CB49H9Jlkw8L1k')
for location in locations:
   #print location
    results = geolocator.geocode(query=location, language='en', exactly_one=False, timeout=5)
       #for result in results:
           #print result.raw
        
print(locations[0])

Birmingham city, Alabama

In [ ]:
#df_merged.to_csv('2005_2017_P2_data.csv')